<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net461" />
  <package id="nunrar" version="1.0.1" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
</packages>